name: CI

on: [push]

jobs:
  phpunit:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
        php-version: ['8.1', '8.2']
        dependencies: ['lowest', 'highest']
    name: 'PHPUnit'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: mbstring, intl
          coverage: xdebug
      - name: Composer
        uses: "ramsey/composer-install@v2"
        with:
          dependency-versions: ${{ matrix.dependencies }}
      - name: PHPUnit
        run: vendor/bin/phpunit --coverage-clover=coverage.clover
      - uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  psalm:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ['8.1', '8.2']
        dependencies: ['lowest', 'highest']
    name: 'Psalm'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: mbstring, intl
      - name: Composer
        uses: "ramsey/composer-install@v2"
        with:
          dependency-versions: ${{ matrix.dependencies }}
      - name: Psalm
        run: vendor/bin/psalm --shepherd
  cs:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ['8.1']
    name: 'CS'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: mbstring, intl
      - name: Composer
        uses: "ramsey/composer-install@v2"
      - name: CS
        run: vendor/bin/php-cs-fixer fix --diff --dry-run
