name: CI

on: [push]

jobs:
  coverage:
    uses: innmind/github-workflows/.github/workflows/coverage-matrix.yml@next
    secrets: inherit
  psalm:
    uses: innmind/github-workflows/.github/workflows/psalm-matrix.yml@next
  cs:
    uses: innmind/github-workflows/.github/workflows/cs.yml@next
