name: CI

on: [push]

jobs:
  coverage:
    uses: innmind/github-workflows/.github/workflows/coverage-matrix.yml@main
    secrets: inherit
  psalm:
    uses: innmind/github-workflows/.github/workflows/psalm-matrix.yml@main
  cs:
    uses: innmind/github-workflows/.github/workflows/cs.yml@main
